<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <title>Dish-Dash</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.development.js"></script>
    <script src=" https://unpkg.com/react-transition-group/dist/react-transition-group.js"></script>

    <script>
      // Access the userSession value from Flask and assign it to a JavaScript variable
      {% if session['user'] %}
        var userId = {{session['user']['id']}};
      {% else %}
        var userId = null;
      {% endif %}
    </script>

    <script type="text/babel" src="/static/js/auth-form.jsx"></script>
    <script type="text/babel" src="/static/js/tags-modal.jsx"></script>
    <script type="text/babel" src="/static/js/auth-modal.jsx"></script>
    <script type="text/babel" src="/static/js/navbar.jsx"></script>
    <script type="text/babel" src="/static/js/demo-message.jsx"></script>
    <script type="text/babel" src="/static/js/search-form.jsx"></script>
    <script type="text/babel" src="/static/js/recipe-list.jsx"></script>
    <script type="text/babel" src="/static/js/recipe-list-skeleton.jsx"></script>
    <script type="text/babel" src="/static/js/similar-recipes.jsx"></script>
    <script type="text/babel" src="/static/js/recipe-item.jsx"></script>
    <script type="text/babel" src="/static/js/item-list.jsx"></script>
    <script type="text/babel" src="/static/js/item-list-skeleton.jsx"></script>
    <script type="text/babel" src="/static/js/item-details.jsx"></script>
    <script type="text/babel" src="/static/js/recipe-tags.jsx"></script>
    <script type="text/babel" src="/static/js/recipe-details.jsx"></script>
    <script type="text/babel" src="/static/js/favorite-message-bar.jsx"></script>
    <script type="text/babel" src="/static/js/footer.jsx"></script>
    <script type="text/babel" src="/static/js/layout.jsx"></script>
    <script type="text/babel" src="/static/js/reducers/SelectedReducer.js"></script>
    <script type="text/babel" src="/static/js/reducers/FavoritesReducer.js"></script>
    <script type="text/babel" src="/static/js/reducers/LandingReducer.js"></script>
    <script type="text/babel" src="/static/js/contexts/SelectedRecipeContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/ItemsContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/SearchContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/FavoriteMessageContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/CachedFavoritesContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/CachedLandingContext.js"></script>
    <script type="text/babel" src="/static/js/contexts/AuthContext.js"></script>
    <script type="text/babel" src="/static/js/hooks/useFavorites.js"></script>
    <script type="text/babel" src="/static/js/app.jsx"></script>

    <script type="text/babel">
      ReactDOM.render(
        <FavoriteMessageProvider>
          <AuthProvider initialIsLogged={userId}>
            <App />
          </AuthProvider>
        </FavoriteMessageProvider> ,
        document.getElementById('root')
      );
    </script>
  </body>
</html>