/* For Chrome, Safari, and Opera */
  .ScrollList::-webkit-scrollbar {
    width: 12px !important;
  }
  
  #scrollList.ScrollList::-webkit-scrollbar {
    width: 12px !important;
   }
   
  .ScrollList::-webkit-scrollbar-track {
    background-color: transparent !important;;
  }
  
  .ScrollList::-webkit-scrollbar-thumb {
    background-color: #d6dee1 !important;;
    border-radius: 6px !important;;
    border: 3px solid transparent !important;;
    background-clip: content-box !important;;
  }
  
  .ScrollList::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf !important;;
  }
  
  /* For Firefox */
  .ScrollList {
    scrollbar-width: thin !important;;
    scrollbar-color: #d6dee1 transparent !important;;
  }
  